In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("B_YTé - Store Dataset 2023.csv")

In [3]:
quarter_map = ["Q1","Q1","Q1","Q2","Q2","Q2","Q3","Q3","Q3","Q4","Q4","Q4"]
#               Jan, Feb, Mar, April....
def date_to_quarter(date: str) -> str:
  date_split = [int(x) for x in date.split("/")]
  day = date_split[0]
  month = date_split[1]
  year = date_split[2]
  quarter_name = quarter_map[month - 1]
  return "{0}, {1}".format(quarter_name, year)

In [4]:
df['Date'].apply(date_to_quarter)

0        Q1, 2022
1        Q1, 2022
2        Q1, 2022
3        Q1, 2022
4        Q1, 2022
           ...
61858    Q3, 2022
61859    Q3, 2022
61860    Q3, 2022
61861    Q3, 2022
61862    Q3, 2022
Name: Date, Length: 61863, dtype: object

In [5]:
df['Quarter'] = df['Date'].apply(date_to_quarter)

In [6]:
df_revised = df.drop(columns=['Unnamed: 0', 'Customer_ID', 'Transaction_ID'])

In [13]:
df_revised['Profit'] = df_revised['Sales_Amount'] - df_revised['Operational_Cost']

In [90]:
df_revised.groupby('SKU').size().sort_values(ascending=False)

SKU
UNJKW    2007
COWU2     791
OV1P9     737
M6J9W     698
CZUZX     621
         ...
TJ7ZU       1
B3LVW       1
B0EF6       1
B09IU       1
ZZNC5       1
Length: 1433, dtype: int64

In [75]:
df_revised.groupby('SKU_Category').size().sort_values(ascending=False)

SKU_Category
T-shirt          10913
Hoodie            5099
Dresses           5062
Cargo pants       4836
Shorts            4570
                 ...
Crop Top          2858
Sunglasses        2833
Dress shirt       2775
Bomber jacket     2598
Trench coat       2306
Length: 15, dtype: int64

In [18]:
demographic_list = ["GenZ", 'Millenial', 'GenX', 'GenJones']
# 11-26, 27-42, 43-58, 59-68
def age_to_dg(age: int) -> str:
    if age <= 26:
        return 'GenZ'
    elif age <= 42:
        return 'Millenial'
    elif age <= 58:
        return 'GenX'
    elif age <= 68:
        return "GenJones"

In [71]:
min_value = df_revised['Customer_Age'].min()
max_value = df_revised['Customer_Age'].max()
print(min_value)
print(max_value)

16
68

In [19]:
df_revised['Demographic'] = df_revised['Customer_Age'].apply(age_to_dg)

C:\Users\thoma\AppData\Local\Temp\ipykernel_25576\1853127401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_revised['Demographic'] = df_revised['Customer_Age'].apply(age_to_dg)

In [73]:
df_revised['SKU_Category'].unique()

array(['Skirt', 'Shoes', 'T-shirt', 'Cargo pants', 'Crop Top', 'Jeans',
       'Hoodie', 'Sunglasses', 'Blazer', 'Dress shirt', 'Bomber jacket',
       'Trench coat', 'Dresses', 'Hat', 'Shorts'], dtype=object)

In [10]:
df_revised = df.drop(columns=['Unnamed: 0', 'Customer_ID', 'Transaction_ID', 'Date'])

In [101]:
item_quantity = df_revised.groupby('SKU')['Quantity'].sum()

In [102]:
item_quantity.sort_values(ascending=False)

SKU
UNJKW    2179.0
2SVKS    1113.0
SJ0ZD     969.0
4FT32     916.0
A59HR     912.0
          ...
TUXIK       1.0
TXSTI       1.0
9CRJL       1.0
ZZNC5       1.0
U5KIY       0.6
Name: Quantity, Length: 1433, dtype: float64

In [105]:
demograph_quantity = df_revised.groupby('Demographic')['Quantity'].sum()

In [106]:
demograph_quantity.sort_values(ascending=False)

Demographic
Millenial    34258.777
GenX         33526.366
GenZ          9253.340
GenJones      4335.670
Name: Quantity, dtype: float64

In [107]:
demograph_profit = df_revised.groupby('Demographic')['Profit'].sum()

In [108]:
demograph_profit.sort_values(ascending=False)

Demographic
Millenial    973448.4
GenX         936499.6
GenZ         259966.9
GenJones     114719.3
Name: Profit, dtype: float64

In [109]:
quarterly_profit = df_revised.groupby('Quarter')['Profit'].sum()

In [110]:
quarterly_profit.sort_values(ascending=False)

Quarter
Q4, 2022    617813.8
Q2, 2022    591812.1
Q1, 2022    537742.0
Q3, 2022    537266.3
Name: Profit, dtype: float64

In [111]:
quarterly_sales = df_revised.groupby('Quarter')['Quantity'].sum()

In [112]:
quarterly_sales.sort_values(ascending=False)

Quarter
Q4, 2022    22260.180
Q2, 2022    20485.343
Q1, 2022    19765.290
Q3, 2022    18863.340
Name: Quantity, dtype: float64

In [113]:
profit_by_category = df_revised.groupby('SKU_Category')['Profit'].sum()

In [114]:
profit_by_category.sort_values(ascending=False)

SKU_Category
Dresses          387182.0
Hat              212108.0
T-shirt          185969.2
Sunglasses       173108.2
Bomber jacket    169756.0
                   ...
Cargo pants      113060.2
Blazer            95998.3
Skirt             86803.9
Crop Top          86446.3
Jeans             84063.9
Name: Profit, Length: 15, dtype: float64

In [11]:
df_revised1 = df_revised

In [14]:
df_revised1 = df_revised1[df_revised1['Profit'] >= 0]

In [15]:
df_revised = df_revised1

In [16]:
df_revised

,SKU_Category,SKU,Quantity,Sales_Amount,Operational_Cost,Customer_Age,Quarter,Profit
0,Skirt,CZUZX,1.0,63.5,44.6,51,"Q1, 2022",18.9
1,Skirt,549KK,1.0,55.9,41.1,27,"Q1, 2022",14.8
2,Skirt,K8EHH,1.0,68.8,52.6,39,"Q1, 2022",16.2
3,Shoes,AHZNS,1.0,82.1,56.7,39,"Q1, 2022",25.4
4,Skirt,9STQJ,1.0,82.5,58.7,30,"Q1, 2022",23.8
...,...,...,...,...,...,...,...,...
61858,Hat,FO112,3.0,64.6,16.4,24,"Q3, 2022",48.2
61859,T-shirt,I36F2,1.0,45.0,32.5,24,"Q3, 2022",12.5
61860,Shorts,4X8P4,1.0,51.9,39.2,24,"Q3, 2022",12.7
61861,Skirt,ZVTO4,1.0,45.7,35.9,24,"Q3, 2022",9.8
61862,Crop Top,QM9BP,1.0,136.8,115.3,24,"Q3, 2022",21.5